.inputs{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color:black; 
  height: 380px;
  width: 600px;
  padding: 10px 10px;
}


.container{  
  display:flex;
  border: 1px solid yellow;
}

.contact-container{
  opacity: 0.9;
  background-color: black;
  height: 400px;
  width: 600px;
  box-shadow: 10px 10px yellow;
}

main {
    opacity: 0.8;       
  }

select, textarea, .inputs input{
  font-size: 20px;
}

textarea{
  resize: none;
  height: 160px;
  
}
.nous-joindre-h1 {
  position: relative;
  margin:auto;
  border: 1px solid red;
}

@media screen and (max-width: 700px) {
  .contact-container {
    width: 90%;
    height: 40%;
    box-shadow: 10px 10px yellow;
    overflow:auto;
  }
  .inputs {
      margin-top: 20px;
      margin-left: 0;
    }
    .inputs input {
      
      font-size: 20px;
    } 
  
}