.inputs{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    flex-wrap: wrap;
    margin-top: 70px;
    margin-left: 70px;
}

.inputs input{
    font-size: 20px;
    background-color: rgb(223, 214, 214); 
}

.container{
    display: flex;
}

.logo{
    margin-top: 50px;
}

.login-container{
   /* margin-top: 100px;*/
    opacity: 0.9;
    color: black;
    background-color: white;
    height: 400px;
    width: 600px;
    box-shadow: 10px 10px yellow;
}

main {
    opacity: 0.8;    
  }

button{
    display: flex;
    margin-left: 180px;
    margin-top: 50px;
}
.login-h1 {
    position: relative;
    margin:auto;
    border: 1px solid red;
  }

  @media screen and (max-width: 700px) {
    .login-container {
      width: 90%;
      box-shadow: 10px 10px yellow;
    }
    .inputs {
        margin-top: 30px;
        margin-left: 0;
      }
      .inputs input {
        width: 90%; 
        font-size: 18px;
      }
      button {
        margin-left: auto;
        margin-right: auto; 
      }  
    
}