.products-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
}


.product {
  position: relative;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.product img {
  display: block;
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.product:hover img {
  transform: scale(1.1);
}

.product .details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7); 
  padding: 10px;
  color: #fff;
  transition: opacity 0.3s ease-in-out;
  opacity: 0; 
}

.product:hover .details {
  opacity: 1; 
}
.produits-h1 {
  position: relative;
  margin:auto;
  border: 1px solid red;
}
@media screen and (max-width: 700px) {
  p,h3{
      font-size: 10px;
  }
  .details button {
    font-size: 10px; 
  }
  .products-grid{
    margin-left: 5px;
    margin-right: 5px;
  }
}
.details button{
  margin: auto; 
 display: block;
  
}