body, h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;    
}

body {    
  background-image: url("..\\images\\amaflix_bg.jpg");
  background-repeat: repeat;
  background-size: cover;    
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header, footer {
  background-color:black;
  color: #fff;
  text-align: center;
}




footer p{
  padding: 10px;
  color: #fff;
  font-size: 25px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff; 
  padding: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

nav ul li {
  margin-right: 20px;
  font-size: 25px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

.fa {
  display: flex;
  padding-left: 10px;
  font-size: 30px; 
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  color: #3c90de; 
}

li :hover {
  color: #dfee08;
}

.social-icons {
  font-size: 40px;
}

@media screen and (min-width: 1200px) {
  nav ul li {
      margin-left: 100px;      
      }

  .fa {
      padding-left:50px;
      }
}

@media screen and (max-width: 675px) {

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin: 5px 0;
  }  
  .fa {
      font-size: 20px;
  }  
  .social-icons {
      font-size: 30px;
  }

  section img {
    max-width: 100%; 
    height: auto; 
  }



}

main {
  flex: 1;
  background-color: black;
  opacity: 0.7;
  color: #fff;
}

section{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: black;
  font-size: 25px;
  margin-top: 100px;

}

.half1, .half2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 20px;
  border: 2px solid white;
}

section img{
  border: 2px solid white;
}
button{
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 10px;

}

button:hover{
  background-color: yellow; 
}

.form-button{
  display: inline;
}